<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><h2><a><font color="white"><b>About us</b></font></a></h2></li>
 <div class="container">
 <div class="col-sm-6 col-md-4">
<div class="thumbnail">


<%= image_tag("pic_mountain.jpg", :alt => "pic_mountain" ) %>

 

</div>
</div>
<div class="aboutcenter"> 
 <h3> <p class="text-info">At Avi Photography, our photographers use state of the art film cameras. We prefer the look of the film.<br>
<br>
Film takes much more work and experience. Our creative team, while in the digital age, continue to get 
better crisp images on film for our valuable clients by incorporating precise steps from shot to print perfectly.<br>
<br>
Digital photography is science where film photography is magic, demanding that clients pay for style 
rather than technical expertise. The resolution is the result of over 100 tireless years of innovation and 
refinement.<br>
 <br>
Film records and reproduces a broader range of color. Film results in a more 
dynamic range and span the color gamut, more so than any digital system available to anyone. 
Therefore, Avi Photography is proud to be using film as our foundation for better results and maintaining 
a sterling reputation as organic luxury photographers.<br>
<br>
"Digital photography is science where film photography 
is magic."
Avi Berg<br></h3>


<font color="white"><h2>AVI STUDIO | PHOTOGRAPHY</h2></font>
</p>
 </div>
 </div>
 </ol>

