<div class="row">
    <div class="containerss">
        <div class="jumbotrons text-center col-mid-6">
        <div class="bg">
        <font color="white">  <h1><b>HEAD SHOT SESSION</b></h1> </font>

<font color="white"> <p>All Sessions are shot  in Color.
SESSION A
Getting you started: 3 looks or changes
no limit to exposures
Commercial, Theatrical,3/4 Commercial Looks
Fun Facebook Shots
Online Proof Sheet
Adults-$475.00
Kids (12 and Under)- $400.00
Spend some quality time with us. Have The Different Looks You Want. Add a
quirky shot, moody, goth, librarian , Sporty or As many head shots you 
want For $75 Each.

Thinking About Modeling, or Maybe You are a Musician , an athlete or a 
Dancer and want some full length . Creative Shots?
$100 each look-and we can add as many as you want or need!

CREATIVE SESSION
3 looks or Changes
No Limit to exposures
Fun FaceBook Shot Print/Music/Creative
Online Proof Sheet
Adults- $525.00 Kids (12 and Under)- $500.00
</p> </font>
        </div>
        </div>

        <div class="jumbotronss text-center col-mid-6">
         <font color="white">   <h1><b>CREATIVE SESSION</b></h1> </font>
           <font color="white"> <p>3 looks or Changes No Limit to exposures Fun FaceBook Shot Print/Music/Creative Online Proof Sheet Adults- $525.00 Kids (12 and Under)- $500.00</p> </font>
        </div>

         <div class="jumbotronsss text-center col-mid-6">
        <font color="white">    <h1><b>FAMILY SESSION</b></h1>
            <p>Lets get the family together! 3 Looks and poses Includes- different groups (Mom and Daughters, Siblings, etc)
                ONLINE Proof Sheet and CD of images session $457 "Shooting on location available for a fee Depending on zip code. We're Talking a park , Your Home , Or even The Beach ! "Prints From 4x6 to 40x60 are available for special order and pricing will  include retouching</p> </font>
        </div>

         <div class="jumbotronssss text-center col-mid-6">
          <font color="white">  <h1><b>WE HAVE OPTION</b></h1>
            <p>The following methods of payments are accepted: Cash, Credit Card (Visa, AMEX , MC, Discover), Debit Card, PayPal A non- refundable Deposit of $100 is Required to reserve a day/time Slot. We recommend Booking at least 2 weeks in Advance Shoots Scheduled on Sunday are Subject to a 20% Surcharge.</p> </font>
            
        </div>
    </div>
</div>